name: Publish flake

on:
  push:
    branches: [main]

jobs:
  flakehub:
    name: FlakeHub

    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Push to Flakehub
        uses: DeterminateSystems/flakehub-push@v6
        with:
          visibility: "public"
          rolling: true

  # TODO: re-enable when flakestry supports rolling releases
  # flakestry:
  #   name: Flakestry

  #   runs-on: ubuntu-latest

  #   permissions:
  #     id-token: write

  #   steps:
  #     - uses: flakestry/flakestry-publish@main
